.leaderboard-wrapper {
    position: absolute; /* or fixed */
    top: 100px;
    right: 50px;
    width:500px
    // margin-left: 0px;
}

.playlist-wrapper{
    position: absolute;
    width:400px;
    margin: 0;
    padding: 40px;
}