.leaderboard-wrapper {
    position: absolute; /* or fixed */
    top: 100px;
    right: 10px;
    width:600px;
    // margin-left: 0px;
    margin-top:30px

}

.playlist-wrapper{
    position: absolute;
    width:400px;
    margin: 0;
    padding: 40px;
    margin-top:30px;
}