.banner {
    position: fixed;
    
    top: 60px;
    left: 0;
    width: 100vw; /* 100% of the viewport width */
    background-color: black; /* Black background for the banner */
    padding: 0.1px; /* Adjust padding as needed */
    text-align: center; /* Center the text within the banner */
    z-index: 1000; /* Ensures the banner is above other elements */
}

.banner:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.fancy-title {
    font-family: 'Arial', sans-serif; /* Change to your preferred font */
    font-size: 3rem; /* Adjust size as needed */
    color: white;
    text-shadow: 3px 3px 0px #fe2c55; /* Pink shadow */
    font-weight: bold;
    letter-spacing: 2px; /* Adjust spacing as needed */
    margin: 10px 0; /* Adjust margins as needed */
    text-align: center; /* Center the text */
    z-index: 2;
    margin-left: 140px; /* Adjust margin left as needed */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Adjust based on the banner height */
    background-color: #f0f0f0; /* For visual reference */
}

.daylist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between videos */
    padding: 20px;
    margin-top: 75px; /* Adjust margin top as needed */
}

.daylist-item {
    border-radius: 8px; /* Rounded corners for the player */
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow effect */
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: translateY(-5px); /* Example hover effect */
    }
}

.play-game-button {
    margin-top: 10px;
    background-color: black; /* Example button background color */
    color: white;
    border: none;
    padding: 10px 10px; /* Adjust padding as needed */
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px; /* Space between text and icon */
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #0056b3; /* Darker shade for hover effect */
    }

    .button-text {
        font-size: 1.5rem; /* Adjust font size as needed */
        font-weight: bold;
    }

    .button-icon {
        font-size: 1.2rem; /* Adjust icon size as needed */
    }
}
