// .btn{
//     position: absolute;
//     top: 630px;
//     left: 1%;
//     width: 300px;
//     height: 50px;
// }
// .start_btn {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     right:50%;
//     margin-left: -50px;
//     margin-top: -50px;
//     display: block;
//     font-size: 1.3em;
//     width: 100px;
//     height: 100px;
//     font-weight: light;
//     font-family: 'Trebuchet MS', sans-serif;
//     text-align: center;
//     line-height: 100px;
//     letter-spacing: -1px;
//     color: white;
//     border: none;
//     border-radius: 50%;
//     background: #1c1a1a;
//     cursor: pointer;
//     box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
//     transition: width 0.9s, height 0.9s;
//     &:hover {
//         width: 105px;
//         height: 105px;
//       }
// }
// .magic-wrapper {
//     margin-top:1px;
//     margin-left: 100px;
//     top:-850px;
//     right: -100px;
//     height: 600px;
//     width:300px;
//     position: relative;
//     background: #fe2c64;  /* fallback for old browsers */
//     // background: -webkit-linear-gradient(to right, #e55bab, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
//     // background: linear-gradient(to right, #e55b8e, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

// }

// .background {
//     position: relative;
//     top:70; 
//     left: 36%;
// }

// .piano {
//     position: absolute; 
//     top:70; 
//     left: 36%;
// }

// .score_bar {
//     position: relative; 
//     left:36%;
//     top: 0;
// }


.btn{
    margin-top:650px;
    position: absolute;
        top: 700;
        left: 36%;
        width: 300px;
        height: 50px;
}
.start_btn {
    position: relative;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        margin-top: -50px;
        display: block;
        font-size: 1.3em;
        width: 100px;
        height: 100px;
        font-weight: light;
        font-family: 'Trebuchet MS', sans-serif;
        text-align: center;
        line-height: 100px;
        letter-spacing: -1px;
        color: white;
        border: none;
        border-radius: 50%;
        background: #060606;
        cursor: pointer;
        box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
        transition: width 0.9s, height 0.9s ;
    &:hover{
        width: 105px;
        height: 105px;
    }
}

.magic-wrapper {
    background: #e80936;  /* fallback for old browsers */
        // background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background {
    position: absolute;
    top:70; 
    left: 36%;
}

.piano {
    position: absolute; 
    top:70; 
    left: 36%;
}

.score_bar {
    position: absolute;
    right: 100px;
    top: 250px;
    width: 300px; /* Set width */
    height: 100px; /* Set height */
    background: black;
}

.game_over_bar {
    position: absolute;
    left: 100px;
    top: 250px;
    width: 300px; /* Set width */
    height: 100px; /* Set height */
    background: black;
}

